/* You can add global styles to this file, and also import other style files */

@import "variables";

button:hover, a:hover {
  cursor: pointer;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from($wheat), to($wenge)) fixed;
}



