/* You can add global styles to this file, and also import other style files */

button:hover, a:hover {
  cursor: pointer;
}


// Colors

$dark-purple: #401F3E;
$wenge: #635255;
$wheat: #F6D8AE;
$dark-cerulean: #083D77;
$paradise-pink: #DA4167;

