<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left">{{socketService.getRequestedSocket()}} wants to play you!!</h3>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Do You Accept?</h4>

  </div>
  <div class="modal-footer">
    <button type="button" class="pull-left btn btn-danger" (click)="respondToRequest('decline')">Decline</button>
    <button type="button" class="pull-right btn btn-primary" (click)="respondToRequest('accept')">Accept</button>
  </div>
</ng-template>
