<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left">{{socketService.getRequestedSocket()}} wants to play you!!</h3>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Do You Accept?</h4>

  </div>
  <div class="modal-footer">
    <button type="button" class="pull-left btn btn-danger" (click)="respondToRequest('decline')">Decline</button>
    <button type="button" class="pull-right btn btn-primary" (click)="respondToRequest('accept')">Accept</button>
  </div>
</ng-template>


<ul class="list-group" *ngIf="socketService.peopleConnected()">
  <li class="list-group-item" *ngFor="let client of socketService.getClients()">
    <button class="btn btn-primary btn-sm" style="margin-right: 5px;" (click)="socketService.requestToPlay(client)">Play</button>{{client | truncate : 15}}
  </li>
</ul>

<h3 *ngIf="!socketService.peopleConnected()">Nobody is connected right now!!</h3>
